In [1]:
import pandas as pd
import numpy as np
data_csv = pd.read_csv("Titanic_train.csv")
test_csv = pd.read_csv("Titanic_test.csv")
print(data_csv.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [2]:
print(data_csv.shape)
print(data_csv.isnull().sum())
print(test_csv.isnull().sum())

(891, 12)
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [3]:
#dropping Cabin
data_csv = data_csv.drop("Cabin",axis=1)
test_csv = test_csv.drop("Cabin",axis=1)

In [4]:
#fill nan with mean for Age and mode for Ticket
data_csv["Age"].fillna(data_csv["Age"].mean(),inplace=True)
test_csv["Age"].fillna(test_csv["Age"].mean(),inplace=True)
test_csv["Fare"].fillna(0,inplace=True)

#fill na for categorical value
data_csv["Embarked"].fillna(data_csv["Embarked"].mode()[0],inplace=True)
test_csv["Embarked"].fillna(test_csv["Embarked"].mode()[0],inplace=True)
print(data_csv["Embarked"])
print(data_csv.isnull().sum())
print(test_csv.isnull().sum())

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64
PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [5]:
#split Family Name and drop Name 
data_csv["FamilyName"] = data_csv["Name"].str.split(",",expand=True)[0]
data_csv = data_csv.drop("Name",axis=1)

test_csv["FamilyName"] = test_csv["Name"].str.split(",",expand=True)[0]
test_csv = test_csv.drop("Name",axis=1)

In [6]:
#Custom function
def custom_split(str):
    if str[0].isnumeric():
        return str
    else:
        a=0
        i=len(str)
        while(i>1):
            if str[i-1]== " ":
                a = len(str)-i+1
                break
            i = i-1
        str1 = str[:-a:-1]
        return str1[::-1]

#Splitting Ticket to get the numeric values
i=0
while(i<len(data_csv["Ticket"])):
        data_csv.loc[i,"Ticket"] = custom_split(data_csv["Ticket"][i])
        i = i+1
data_csv["Ticket"] = data_csv["Ticket"].replace("INE", "0")

#convert to numeric type
data_csv["Ticket"] = pd.to_numeric(data_csv["Ticket"])

j=0
while(j<len(test_csv["Ticket"])):
        test_csv.loc[j,"Ticket"] = custom_split(test_csv["Ticket"][j])
        j = j+1
        
#convert to numeric type
data_csv["Ticket"] = pd.to_numeric(data_csv["Ticket"])
test_csv["Ticket"] = pd.to_numeric(test_csv["Ticket"])

print(data_csv["Ticket"].head())
print(test_csv["Ticket"].head())

0      21171
1      17599
2    3101282
3     113803
4     373450
Name: Ticket, dtype: int64
0     330911
1     363272
2     240276
3     315154
4    3101298
Name: Ticket, dtype: int64

In [7]:
data_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    int64
 8   Fare         891 non-null    float64
 9   Embarked     891 non-null    object
 10  FamilyName   891 non-null    object
dtypes: float64(2), int64(6), object(3)
memory usage: 76.7+ KB

In [8]:
#check correleation
print(data_csv.corr())

             PassengerId  Survived    Pclass       Age     SibSp     Parch  \
PassengerId     1.000000 -0.005007 -0.035144  0.033207 -0.057527 -0.001652
Survived       -0.005007  1.000000 -0.338481 -0.069809 -0.035322  0.081629
Pclass         -0.035144 -0.338481  1.000000 -0.331339  0.083081  0.018443
Age             0.033207 -0.069809 -0.331339  1.000000 -0.232625 -0.179191
SibSp          -0.057527 -0.035322  0.083081 -0.232625  1.000000  0.414838
Parch          -0.001652  0.081629  0.018443 -0.179191  0.414838  1.000000
Ticket         -0.022100 -0.095605  0.284016 -0.104016  0.046942 -0.032530
Fare            0.012658  0.257307 -0.549500  0.091566  0.159651  0.216225

               Ticket      Fare
PassengerId -0.022100  0.012658
Survived    -0.095605  0.257307
Pclass       0.284016 -0.549500
Age         -0.104016  0.091566
SibSp        0.046942  0.159651
Parch       -0.032530  0.216225
Ticket       1.000000 -0.155371
Fare        -0.155371  1.000000

In [9]:
#split numeric and categoricl data
numeric_data = [column for column in data_csv.select_dtypes(["int", "float"])]
categoric_data = [column for column in data_csv.select_dtypes(exclude=["int","float"])]

categoric_data1 = [column for column in test_csv.select_dtypes(exclude=["int","float"])]

print(numeric_data)
print(categoric_data)

['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare']
['Sex', 'Embarked', 'FamilyName']

In [10]:
#Encoding categoric data
from sklearn.preprocessing import OrdinalEncoder
label = OrdinalEncoder()
data_csv[categoric_data] = label.fit_transform(data_csv[categoric_data])
test_csv[categoric_data1] = label.fit_transform(test_csv[categoric_data1])
print(data_csv[categoric_data])

     Sex  Embarked  FamilyName
0    1.0       2.0        73.0
1    0.0       0.0       136.0
2    0.0       2.0       251.0
3    0.0       2.0       198.0
4    1.0       2.0        11.0
..   ...       ...         ...
886  1.0       2.0       406.0
887  0.0       2.0       221.0
888  0.0       2.0       293.0
889  1.0       0.0        52.0
890  1.0       1.0       159.0

[891 rows x 3 columns]

In [11]:
#Scaling the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
numeric_data.remove("Survived")
data_csv[numeric_data] = scaler.fit_transform(data_csv[numeric_data])
print(data_csv[numeric_data])

test_csv[numeric_data] = scaler.fit_transform(test_csv[numeric_data])

     PassengerId    Pclass       Age     SibSp     Parch    Ticket      Fare
0      -1.730108  0.827377 -0.592481  0.432793 -0.473674 -0.420410 -0.502445
1      -1.726220 -1.566107  0.638789  0.432793 -0.473674 -0.425854  0.786845
2      -1.722332  0.827377 -0.284663 -0.474545 -0.473674  4.274382 -0.488854
3      -1.718444 -1.566107  0.407926  0.432793 -0.473674 -0.279217  0.420730
4      -1.714556  0.827377  0.407926 -0.474545 -0.473674  0.116544 -0.486337
..           ...       ...       ...       ...       ...       ...       ...
886     1.714556 -0.369365 -0.207709 -0.474545 -0.473674 -0.130250 -0.386671
887     1.718444 -1.566107 -0.823344 -0.474545 -0.473674 -0.281885 -0.044381
888     1.722332  0.827377  0.000000  0.432793  2.008933 -0.442609 -0.176263
889     1.726220 -1.566107 -0.284663 -0.474545 -0.473674 -0.282927 -0.044381
890     1.730108  0.827377  0.177063 -0.474545 -0.473674  0.111858 -0.492378

[891 rows x 7 columns]

In [12]:
#check correleation
print(data_csv.corr())

             PassengerId  Survived    Pclass       Sex       Age     SibSp  \
PassengerId     1.000000 -0.005007 -0.035144  0.042939  0.033207 -0.057527
Survived       -0.005007  1.000000 -0.338481 -0.543351 -0.069809 -0.035322
Pclass         -0.035144 -0.338481  1.000000  0.131900 -0.331339  0.083081
Sex             0.042939 -0.543351  0.131900  1.000000  0.084153 -0.114631
Age             0.033207 -0.069809 -0.331339  0.084153  1.000000 -0.232625
SibSp          -0.057527 -0.035322  0.083081 -0.114631 -0.232625  1.000000
Parch          -0.001652  0.081629  0.018443 -0.245489 -0.179191  0.414838
Ticket         -0.022100 -0.095605  0.284016  0.075693 -0.104016  0.046942
Fare            0.012658  0.257307 -0.549500 -0.182333  0.091566  0.159651
Embarked        0.013128 -0.167675  0.162098  0.108262 -0.026749  0.068230
FamilyName     -0.039837 -0.058100  0.052529  0.020991  0.056849 -0.016098

                Parch    Ticket      Fare  Embarked  FamilyName
PassengerId -0.001652 -0.022100  0.012658  0.013128   -0.039837
Survived     0.081629 -0.095605  0.257307 -0.167675   -0.058100
Pclass       0.018443  0.284016 -0.549500  0.162098    0.052529
Sex         -0.245489  0.075693 -0.182333  0.108262    0.020991
Age         -0.179191 -0.104016  0.091566 -0.026749    0.056849
SibSp        0.414838  0.046942  0.159651  0.068230   -0.016098
Parch        1.000000 -0.032530  0.216225  0.039798   -0.047632
Ticket      -0.032530  1.000000 -0.155371  0.192306    0.027336
Fare         0.216225 -0.155371  1.000000 -0.224719   -0.048075
Embarked     0.039798  0.192306 -0.224719  1.000000   -0.005877
FamilyName  -0.047632  0.027336 -0.048075 -0.005877    1.000000

In [13]:
#split X and Y
X = data_csv.drop("Survived",axis=1)
Y = data_csv["Survived"]

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.3)

In [39]:
#Check accuracy of 3 models
from sklearn.ensemble import RandomForestClassifier 
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier

forest_model = RandomForestClassifier()
forest_model.fit(x_train,y_train)
print("Random Forest accuracy score: ",accuracy_score(y_test,forest_model.predict(x_test)))

xgb_model = XGBClassifier(learning_rate =0.1,max_depth=5,colsample_bytree=0.8,seed=27)
xgb_model.fit(x_train,y_train)
print("XGB Classifier accuracy score: ",accuracy_score(y_test,xgb_model.predict(x_test)))

decision_model = DecisionTreeClassifier()
decision_model.fit(x_train,y_train)
print("Decision Tree Classifier: ",accuracy_score(y_test,decision_model.predict(x_test)))

Random Forest accuracy score:  0.832089552238806
XGB Classifier accuracy score:  0.8059701492537313
Decision Tree Classifier:  0.7238805970149254

In [40]:
#Testing on real data taking good accuracy model
y_predict = forest_model.predict(test_csv)
print(y_predict)

[0 0 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 1 0 1 1 0 1 0 1 0 1 0 0 0 1 1 0 0 1
 1 0 0 0 0 0 1 1 0 1 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 1 1 0 1 0
 1 0 0 1 0 1 1 0 0 0 0 0 1 1 1 1 1 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 1 1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0
 0 0 1 0 0 1 0 0 1 1 0 1 0 1 1 0 0 1 1 0 1 1 0 0 0 0 0 1 1 0 1 1 0 1 1 0 1
 0 1 0 0 0 0 0 1 0 1 0 1 0 0 1 1 1 1 1 0 0 1 0 1 0 0 0 0 1 0 0 0 0 1 0 1 0
 1 0 1 1 0 0 0 0 0 1 0 0 1 0 0 0 1 1 1 1 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 1 0 0 0 1 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0
 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 0 0 0 1 0
 0 1 0 0 1 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 0 0 1 0 1 1 0 1 0 0 0]

In [41]:
test_csv1 = pd.read_csv("Titanic_test.csv")
outputDF = pd.DataFrame({'PassengerId': test_csv1['PassengerId'], 'Survived': y_predict})
print(outputDF.head())

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [42]:
outputDF.to_csv("Survival_Prediction.csv",index=False)